<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>

    <style>
        .b-total {
            font-weight:bold;
            text-transform: uppercase;
        }
    </style>

</head>
<body>
    <div id="app">
        <input type="text" v-model="message">
        <button v-on:click="addTask()">add task</button>

        <ul>
            <li v-for="(task, index) in tasks">
                {{ task.text }}
                <button v-on:click="removeTask(index)">delete</button>
            </li>

            <!--<template v-for="(task, index) in tasks">-->
                <!--<li>{{ task.text }}</li>-->
                <!--<li class="divider"></li>-->
            <!--</template>-->

            <!--<tasks v-for="task in tasks" :tasks="task"></tasks>-->
        </ul>

        <div class="b-total">
            total: {{tasks.length}}
        </div>

        <input type="text" v-model="original">
        <div>
            {{ compute }}
        </div>
    </div><!--app-->

    <script src="https://unpkg.com/vue"></script>

    <script>
        Vue.component('tasks', {
            props: ['tasks'],
            template: '<li>{{ tasks.text }}</li>'
        });

        var app = new Vue({
            el: '#app',
            data: {
                original: '',
                message: '',
                tasks: [
                    { text: 'ddasdasdas' },
                    { text: 'lorem' },
                    { text: '212112' }
                ]
            },
            methods: {
                addTask: function () {
                    if(!this.message) return;

                    this.tasks.push({text: this.message});
                    this.message = '';
                },
                removeTask: function (index) {
                    this.tasks.splice(index, 1);
                }
            },
            filters: {
                upperCased: function (value) {
                    return value.toUpperCase();
                }
            },
            computed: {
                compute: function () {
                    return this.original.split(',');
                }
            }
        });
    </script>
</body>
</html>